In [30]:
from wwo_hist import retrieve_hist_data
import pandas as pd
import os
import os.path
import regex

# Loading original data set 

FILE_PATH = os.path.abspath(os.path.dirname('other_data/final.csv'))
cities = pd.read_csv(FILE_PATH + '/final.csv')
cities.replace('\s+', '_',regex=True,inplace=True)
cities

,City,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,Air Quality Index,Diversity Index,Nearest,lat,lon
0,Akron,OH,267782,129623,138086,1.9,67.4,23.2,0.2,3.6,...,0,132,0,142,0,Good,0.490241,"126,56,332,355,295",41.044852,-81.520048
1,Albany,GA,93421,43571,49835,2.8,29.2,65.2,0.1,0.9,...,0,0,0,244,0,Good,0.488771,"162,372,139,351,249",31.567783,-84.161923
2,Albany,NY,147794,70664,77096,7.8,60.3,20.1,0.1,7.6,...,0,169,0,104,0,Good,0.584133,"319,358,336,145,79",42.652580,-73.756633
3,Albany,OR,61555,30378,31168,11.4,82.7,0.6,0.7,1.9,...,0,0,0,182,0,Good,0.302632,"29,132,230,383,202",44.627722,-123.094409
4,Albuquerque,NM,632240,309415,322758,50.4,38.5,2.5,4.0,2.4,...,0,127,0,25,30,Good,0.594958,"359,258,386,360,127",35.106766,-106.629181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Worcester,MA,183628,89977,93611,20.8,57.2,11.7,0.3,7.3,...,6,169,0,61,1,Good,0.610528,"186,362,6,391,266",42.271389,-71.798889
393,Wyoming,MI,56377,27516,28855,23.8,62.0,7.1,0.4,2.3,...,0,131,0,50,0,Good,0.553378,"131,153,330,209,282",42.900867,-85.705775
394,Yakima,WA,125036,61639,63374,40.1,54.1,0.9,1.6,1.0,...,0,0,0,243,1,Good,0.546085,"256,383,202,320,230",46.606991,-120.477336
395,Yuba_City,CA,75848,37647,38198,28.2,46.2,2.1,0.6,17.7,...,0,149,0,63,1,Good,0.675218,"267,368,255,354,392",39.128619,-121.621599
396,Yuma,AZ,142402,73123,69270,52.5,40.9,2.4,0.8,1.5,...,0,198,0,45,31,Good,0.556232,"329,134,350,368,130",32.701507,-114.642362

In [38]:
cities_city = cities[['City', 'State']]

In [47]:
cities_city = cities_city.drop_duplicates()
cities_city

            City State
0          Akron    OH
1         Albany    GA
2         Albany    NY
3         Albany    OR
4    Albuquerque    NM
..           ...   ...
392    Worcester    MA
393      Wyoming    MI
394       Yakima    WA
395    Yuba_City    CA
396         Yuma    AZ

[397 rows x 2 columns]

In [48]:
# Convert 'city' column to a list to feed into the function that calls API 
cities_list_total = cities_city['City'].tolist()
cities_list_total.sort(reverse=False)
cities_list_total

['Akron',
 'Albany',
 'Albany',
 'Albany',
 'Albuquerque',
 'Alexandria',
 'Allentown',
 'Altoona',
 'Amarillo',
 'Anacortes',
 'Anaheim',
 'Anchorage',
 'Anderson',
 'Ann_Arbor',
 'Appleton',
 'Arlington',
 'Arroyo_Grande',
 'Asheville',
 'Ashland',
 'Ashland',
 'Athens',
 'Atlantic_City',
 'Auburn',
 'Aurora',
 'Austin',
 'Bakersfield',
 'Baltimore',
 'Bangor',
 'Baton_Rouge',
 'Bay_City',
 'Beaumont',
 'Bellevue',
 'Bellingham',
 'Beloit',
 'Bend',
 'Benton_Harbor',
 'Billings',
 'Biloxi',
 'Bismarck',
 'Blacksburg',
 'Bloomington',
 'Bossier_City',
 'Boston',
 'Boulder',
 'Bowling_Green',
 'Bradenton',
 'Bremerton',
 'Bridgeport',
 'Bridgeton',
 'Bristol',
 'Brookings',
 'Brownsville',
 'Bryan',
 'Buffalo',
 'Burlington',
 'Cambridge',
 'Canton',
 'Cape_Coral',
 'Carlsbad',
 'Carmel',
 'Casper',
 'Cedar_Rapids',
 'Chambersburg',
 'Champaign',
 'Chapel_Hill',
 'Charleston',
 'Charlotte',
 'Charlottesville',
 'Cheyenne',
 'Chicago',
 'Chico',
 'Christiansburg',
 'Clearfield',
 'Clearwater',
 'Cleveland',
 'Clinton',
 'College_Station',
 'Colorado_Springs',
 'Columbia',
 'Columbia',
 'Columbus',
 'Columbus',
 'Concord',
 'Conway',
 'Conway',
 'Corcoran',
 'Corpus_Christi',
 'Council_Bluffs',
 'Crestview',
 'Cumberland',
 'Dallas',
 'Dayton',
 'Daytona_Beach',
 'Decatur',
 'Denver',
 'Des_Moines',
 'Detroit',
 'Douglas',
 'Dover',
 'Duluth',
 'Durham',
 'East_Lansing',
 'Eau_Claire',
 'Edinburg',
 'Effingham',
 'El_Centro',
 'El_Paso',
 'Elizabethtown',
 'Elko',
 'Elyria',
 'Enid',
 'Erie',
 'Eugene',
 'Evansville',
 'Fairbanks',
 'Fairfield',
 'Fayetteville',
 'Fayetteville',
 'Flagstaff',
 'Flint',
 'Florence',
 'Fort_Collins',
 'Fort_Lauderdale',
 'Fort_Myers',
 'Fort_Smith',
 'Fort_Walton_Beach',
 'Fort_Wayne',
 'Fort_Worth',
 'Franklin',
 'Gainesville',
 'Grand_Junction',
 'Grand_Rapids',
 'Grants_Pass',
 'Great_Falls',
 'Greeley',
 'Green_Bay',
 'Greensboro',
 'Greenville',
 'Greenville',
 'Gulfport',
 'Hagerstown',
 'Hammonton',
 'Hanford',
 'Hanover',
 'Harlingen',
 'Harrisburg',
 'Harrisonburg',
 'Hartford',
 'Hattiesburg',
 'Henderson',
 'Hickory',
 'High_Point',
 'Hillsboro',
 'Holland',
 'Honolulu',
 'Houghton',
 'Houma',
 'Houston',
 'Idaho_Falls',
 'Indiana',
 'Iowa_City',
 'Ithaca',
 'Jackson',
 'Jackson',
 'Jacksonville',
 'Janesville',
 'Jasper',
 'Jefferson_City',
 'Jersey_City',
 'Joplin',
 'Juneau',
 'Kalamazoo',
 'Kennewick',
 'Killeen',
 'Kingman',
 'Kingsport',
 'Kissimmee',
 'Knoxville',
 'Kokomo',
 'La_Porte',
 'Lafayette',
 'Lafayette',
 'Lake_Charles',
 'Lake_Havasu_City',
 'Lakeland',
 'Lancaster',
 'Lansing',
 'Laredo',
 'Las_Cruces',
 'Las_Vegas',
 'Lawton',
 'Lebanon',
 'Lenoir',
 'Lewiston',
 'Lewiston',
 'Lexington',
 'Lima',
 'Lincoln',
 'Little_Rock',
 'Lodi',
 'Long_Beach',
 'Longview',
 'Longview',
 'Los_Alamos',
 'Los_Angeles',
 'Lubbock',
 'Lynchburg',
 'Madera',
 'Madison',
 'Manchester',
 'Manitowoc',
 'Marco_Island',
 'Marshall',
 'Massillon',
 'Mauldin',
 'Melbourne',
 'Merced',
 'Mesa',
 'Miami',
 'Milford',
 'Milwaukee',
 'Minneapolis',
 'Mission',
 'Missoula',
 'Modesto',
 'Moline',
 'Monroe',
 'Morganton',
 'Morgantown',
 'Morristown',
 'Mount_Vernon',
 'Murfreesboro',
 'Muscatine',
 'Muskegon',
 'Muskogee',
 'Myrtle_Beach',
 'Napa',
 'Naples',
 'Nashua',
 'Nashville',
 'New_Braunfels',
 'New_Haven',
 'New_London',
 'New_Orleans',
 'New_York',
 'Newark',
 'Niagara_Falls',
 'Niles',
 'North_Charleston',
 'North_Little_Rock',
 'North_Myrtle_Beach',
 'North_Port',
 'Norwalk',
 'Norwich',
 'Oakland',
 'Ocala',
 'Odessa',
 'Ogden',
 'Oklahoma_City',
 'Olympia',
 'Ontario',
 'Orem',
 'Orlando',
 'Ormond_Beach',
 'Owensboro',
 'Oxnard',
 'Palm_Bay',
 'Panama_City',
 'Pascagoula',
 'Pensacola',
 'Peoria',
 'Phoenix',
 'Pittsfield',
 'Pocatello',
 'Port_Arthur',
 'Portage',
 'Porterville',
 'Portland',
 'Portland',
 'Prescott',
 'Provo',
 'Pueblo',
 'Racine',
 'Radford',
 'Raleigh',
 'Rapid_City',
 'Redmond',
 'Reno',
 'Richland',
 'Richmond',
 'Riverside',
 'Roanoke',
 'Rochester',
 'Rochester',
 'Rock_Island',
 'Rockford',
 'Rocky_Mount',
 'Rogers',
 'Rome',
 'Roseville',
 'Round_Rock',
 'Rutland',
 'Sacramento',
 'Salem',
 'Salinas',
 'Salisbury',
 'Salt_Lake_City',
 'San_Antonio',
 'San_Bernardino',
 'San_Diego',
 'San_Francisco',
 'San_Jose',
 'San_Luis_Obispo',
 'Sanford',
 'Santa_Barbara',
 'Santa_Clara',
 'Santa_Cruz',
 'Santa_Rosa',
 'Sarasota',
 'Schenectady',
 'Scottsbluff',
 'Scottsdale',
 'Scranton',
 'Seattle',
 'Sebastian',
 'Sebring',
 'Sheboygan',
 'Sheridan',
 'Shreveport',
 'Sierra_Vista',
 'Sioux_City',
 'Sioux_Falls',
 'South_Bend',
 'South_Burlington',
 'Spartanburg',
 'Spokane',
 'Springfield',
 'Springfield',
 'Springfield',
 'Springfield',
 'Stamford',
 'State_College',
 'Steubenville',
 'Stockton',
 'Sunnyvale',
 'Syracuse',
 'Tacoma',
 'Tallahassee',
 'Tampa',
 'Taos',
 'Temple',
 'Texarkana',
 'Thibodaux',
 'Thousand_Oaks',
 'Titusville',
 'Toledo',
 'Topeka',
 'Trenton',
 'Troy',
 'Tucson',
 'Tulsa',
 'Twin_Falls',
 'Tyler',
 'Urbana',
 'Utica',
 'Vallejo',
 'Vero_Beach',
 'Victoria',
 'Vineland',
 'Visalia',
 'Waco',
 'Walla_Walla',
 'Warner_Robins',
 'Warren',
 'Warren',
 'Warren',
 'Washington',
 'Washington',
 'Waterloo',
 'Watertown',
 'Watsonville',
 'Waukesha',
 'Wausau',
 'Wenatchee',
 'West_Lafayette',
 'West_Palm_Beach',
 'Wichita',
 'Wilmington',
 'Wilmington',
 'Winchester',
 'Winona',
 'Winter_Haven',
 'Worcester',
 'Wyoming',
 'Yakima',
 'Yuba_City',
 'Yuma']

In [46]:
FILE_PATH = os.path.abspath(os.path.dirname('merged_cities.csv'))
cities_df = pd.read_csv(FILE_PATH + '/merged_cities.csv')
cities_df

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2018-01-01 00:00:00,1,-4,0.0,10.0,1,97,06:38 PM,07:47 AM,08:27 AM,...,34,93,57,0.0,1037,-2,10,9,25,Austin
1,2018-01-01 03:00:00,1,-4,0.0,10.0,1,97,06:38 PM,07:47 AM,08:27 AM,...,36,37,48,0.0,1038,-3,10,17,26,Austin
2,2018-01-01 06:00:00,1,-4,0.0,10.0,1,97,06:38 PM,07:47 AM,08:27 AM,...,30,31,41,0.0,1040,-4,10,12,23,Austin
3,2018-01-01 09:00:00,1,-4,0.0,10.0,1,97,06:38 PM,07:47 AM,08:27 AM,...,31,68,37,0.0,1041,-3,10,20,24,Austin
4,2018-01-01 12:00:00,1,-4,0.0,10.0,1,97,06:38 PM,07:47 AM,08:27 AM,...,21,33,30,0.0,1040,0,10,10,18,Austin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818475,2021-02-28 09:00:00,10,2,0.0,11.2,3,82,08:23 PM,08:20 AM,07:12 AM,...,34,1,25,0.0,1027,3,10,221,19,Las_Vegas
818476,2021-02-28 12:00:00,10,2,0.0,11.2,3,82,08:23 PM,08:20 AM,07:12 AM,...,25,0,14,0.0,1026,7,10,5,18,Las_Vegas
818477,2021-02-28 15:00:00,10,2,0.0,11.2,3,82,08:23 PM,08:20 AM,07:12 AM,...,21,0,12,0.0,1024,9,10,127,15,Las_Vegas
818478,2021-02-28 18:00:00,10,2,0.0,11.2,3,82,08:23 PM,08:20 AM,07:12 AM,...,17,0,13,0.0,1024,10,10,350,12,Las_Vegas
818479,2021-02-28 21:00:00,10,2,0.0,11.2,3,82,08:23 PM,08:20 AM,07:12 AM,...,11,0,17,0.0,1025,10,10,338,8,Las_Vegas

In [54]:
cities_location = cities_df[['location', 'date_time']]

In [58]:
cities_location = cities_location['location'].drop_duplicates()
cities_location

0              Austin
9240            Provo
18480         Concord
27720          Queens
36960       Charlotte
             ...
760600        Detroit
772760    Albuquerque
782000         Boston
794160    Minneapolis
806320      Las_Vegas
Name: location, Length: 87, dtype: object

In [59]:
# Convert 'city' column to a list to feed into the function that calls API 
cities_done = cities_location.tolist()
cities_done.sort(reverse=False)
cities_done

['Akron',
 'Albany',
 'Albuquerque',
 'Allentown',
 'Atlanta',
 'Austin',
 'Bakersfield',
 'Baltimore',
 'Baton_Rouge',
 'Birmingham',
 'Boston',
 'Bridgeport',
 'Bronx',
 'Brooklyn',
 'Buffalo',
 'Cape_Coral',
 'Charleston',
 'Charlotte',
 'Chicago',
 'Cincinnati',
 'Cleveland',
 'Colorado_Springs',
 'Columbia',
 'Columbus',
 'Concord',
 'Dallas',
 'Dayton',
 'Denver',
 'Detroit',
 'El_Paso',
 'Fort_Worth',
 'Fresno',
 'Grand_Rapids',
 'Hartford',
 'Honolulu',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'Kansas_City',
 'Knoxville',
 'Las-Vegas',
 'Las_Vegas',
 'Los_Angeles',
 'Louisville',
 'Manhattan',
 'McAllen',
 'Memphis',
 'Mesa',
 'Miami',
 'Milwaukee',
 'Minneapolis',
 'Mission_Viejo',
 'Nashville',
 'New_Haven',
 'New_Orleans',
 'New_York',
 'Ogden',
 'Oklahoma_City',
 'Omaha',
 'Orlando',
 'Palm_Bay',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Portland',
 'Providence',
 'Provo',
 'Queens',
 'Raleigh',
 'Richmond',
 'Riverside',
 'Rochester',
 'Sacramento',
 'Salt_Lake_City',
 'San_Antonio',
 'San_Diego',
 'San_Francisco',
 'San_Jose',
 'Sarasota',
 'Seattle',
 'Springfield',
 'St._Louis',
 'Tampa',
 'Tucson',
 'Tulsa',
 'Virginia_Beach',
 'Washington']

In [62]:
def Diff(li1, li2):
    return (list(list(set(cities_list_total)-set(cities_done)) + list(set(cities_done)-set(cities_list_total))))

In [64]:
Diff(cities_list_total, cities_done)

['Modesto',
 'Greeley',
 'Fort_Smith',
 'Grants_Pass',
 'Rock_Island',
 'Fairfield',
 'Gainesville',
 'Richland',
 'Urbana',
 'Christiansburg',
 'Monroe',
 'Evansville',
 'Muscatine',
 'Trenton',
 'Rome',
 'Myrtle_Beach',
 'Lodi',
 'Greenville',
 'Ormond_Beach',
 'Hillsboro',
 'Missoula',
 'Odessa',
 'Ocala',
 'Blacksburg',
 'Sebastian',
 'Salisbury',
 'Yuba_City',
 'Clearfield',
 'Bend',
 'Indiana',
 'Dover',
 'Waco',
 'Atlantic_City',
 'Fairbanks',
 'Harrisburg',
 'Portage',
 'Decatur',
 'Florence',
 'Roseville',
 'Panama_City',
 'Bangor',
 'Stockton',
 'Hanford',
 'Elyria',
 'Los_Alamos',
 'Bradenton',
 'Cheyenne',
 'Fayetteville',
 'Joplin',
 'Ashland',
 'Temple',
 'Ithaca',
 'Rocky_Mount',
 'Bismarck',
 'Pueblo',
 'Sunnyvale',
 'Thousand_Oaks',
 'Clinton',
 'North_Little_Rock',
 'Kingsport',
 'Niagara_Falls',
 'Massillon',
 'West_Palm_Beach',
 'Naples',
 'Corpus_Christi',
 'Idaho_Falls',
 'Biloxi',
 'Kennewick',
 'Warner_Robins',
 'Enid',
 'Brookings',
 'San_Bernardino',
 'Arroyo_Grande',
 'Morganton',
 'Mission',
 'Morristown',
 'State_College',
 'Anacortes',
 'North_Charleston',
 'Lynchburg',
 'Port_Arthur',
 'Vallejo',
 'Bay_City',
 'Brownsville',
 'Lake_Havasu_City',
 'Canton',
 'Longview',
 'Bremerton',
 'Alexandria',
 'Olympia',
 'Des_Moines',
 'Salinas',
 'Bristol',
 'Mount_Vernon',
 'Scranton',
 'Visalia',
 'Cumberland',
 'Santa_Clara',
 'South_Bend',
 'Lebanon',
 'Jackson',
 'Billings',
 'Flint',
 'Chapel_Hill',
 'Syracuse',
 'Wenatchee',
 'Twin_Falls',
 'Carlsbad',
 'North_Myrtle_Beach',
 'Arlington',
 'Franklin',
 'Madera',
 'Bowling_Green',
 'Victoria',
 'Chico',
 'Milford',
 'Jefferson_City',
 'Walla_Walla',
 'Little_Rock',
 'Cambridge',
 'Racine',
 'Lakeland',
 'Gulfport',
 'Kingman',
 'Ann_Arbor',
 'Burlington',
 'Rogers',
 'Mauldin',
 'Norwich',
 'North_Port',
 'Elko',
 'Tallahassee',
 'Kissimmee',
 'Clearwater',
 'Bellingham',
 'Porterville',
 'Owensboro',
 'Pascagoula',
 'Spartanburg',
 'Sheboygan',
 'High_Point',
 'Kokomo',
 'Lubbock',
 'Fort_Walton_Beach',
 'Manchester',
 'Erie',
 'Sanford',
 'Vineland',
 'Muskegon',
 'Radford',
 'Carmel',
 'Rutland',
 'Flagstaff',
 'Tyler',
 'Sebring',
 'Auburn',
 'Bloomington',
 'Crestview',
 'Ontario',
 'Lancaster',
 'Pocatello',
 'Anderson',
 'Chambersburg',
 'Topeka',
 'Boulder',
 'Eau_Claire',
 'Santa_Cruz',
 'Watertown',
 'Lexington',
 'Appleton',
 'Douglas',
 'Long_Beach',
 'Effingham',
 'Jersey_City',
 'Marshall',
 'New_London',
 'Vero_Beach',
 'Wyoming',
 'East_Lansing',
 'Roanoke',
 'Taos',
 'Round_Rock',
 'Bryan',
 'Greensboro',
 'Napa',
 'Lawton',
 'Merced',
 'Daytona_Beach',
 'San_Luis_Obispo',
 'Lake_Charles',
 'Lewiston',
 'Manitowoc',
 'Beaumont',
 'Prescott',
 'Iowa_City',
 'Sheridan',
 'Peoria',
 'Champaign',
 'Holland',
 'Winter_Haven',
 'Anaheim',
 'Hickory',
 'Watsonville',
 'Oakland',
 'Eugene',
 'Orem',
 'Steubenville',
 'Corcoran',
 'Duluth',
 'Amarillo',
 'La_Porte',
 'Juneau',
 'Waukesha',
 'Shreveport',
 'Pensacola',
 'Fort_Collins',
 'West_Lafayette',
 'Fort_Myers',
 'Bossier_City',
 'Wausau',
 'Lansing',
 'Sierra_Vista',
 'Grand_Junction',
 'Rockford',
 'Moline',
 'Tacoma',
 'El_Centro',
 'Janesville',
 'Worcester',
 'Warren',
 'Niles',
 'Bridgeton',
 'Lenoir',
 'Killeen',
 'Nashua',
 'Wilmington',
 'Pittsfield',
 'Toledo',
 'Harlingen',
 'Anchorage',
 'Casper',
 'Stamford',
 'Conway',
 'Laredo',
 'Elizabethtown',
 'Athens',
 'Troy',
 'Muskogee',
 'Spokane',
 'Edinburg',
 'Charlottesville',
 'Cedar_Rapids',
 'Fort_Wayne',
 'Sioux_Falls',
 'Winchester',
 'Sioux_City',
 'College_Station',
 'Hagerstown',
 'Great_Falls',
 'Benton_Harbor',
 'Oxnard',
 'New_Braunfels',
 'Newark',
 'Houghton',
 'Beloit',
 'Durham',
 'Asheville',
 'Las_Cruces',
 'Hammonton',
 'Rapid_City',
 'Winona',
 'Melbourne',
 'Houma',
 'Henderson',
 'Kalamazoo',
 'Lima',
 'Hanover',
 'Thibodaux',
 'Marco_Island',
 'Redmond',
 'Utica',
 'Lafayette',
 'Norwalk',
 'Harrisonburg',
 'Yuma',
 'Fort_Lauderdale',
 'Altoona',
 'Yakima',
 'Bellevue',
 'Aurora',
 'Texarkana',
 'Titusville',
 'Lincoln',
 'Wichita',
 'Santa_Rosa',
 'Madison',
 'South_Burlington',
 'Morgantown',
 'Santa_Barbara',
 'Jasper',
 'Reno',
 'Murfreesboro',
 'Green_Bay',
 'Council_Bluffs',
 'Scottsdale',
 'Salem',
 'Schenectady',
 'Waterloo',
 'Scottsbluff',
 'Hattiesburg',
 'Atlanta',
 'Providence',
 'Louisville',
 'Indianapolis',
 'Pittsburgh',
 'Las-Vegas',
 'St._Louis',
 'Mission_Viejo',
 'Brooklyn',
 'Manhattan',
 'Memphis',
 'Kansas_City',
 'Philadelphia',
 'McAllen',
 'Bronx',
 'Omaha',
 'Fresno',
 'Virginia_Beach',
 'Queens',
 'Cincinnati',
 'Birmingham']