In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [125]:
# Importing in data sets

rent2021 = pd.read_csv('V:\\2021.csv')
rent2021.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 
    'rent3', 'rent4', 'state', 'pop17', 'hu17']
rent2021 = rent2021[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2020 = pd.read_csv('V:\\2020.csv')
rent2020.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop17', 'pop10', 'hu10', 'hu17']
rent2020 = rent2020[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2019 = pd.read_csv('V:\\2019.csv')
rent2019.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10', 'hu10', 'county', 'name']
rent2019 = rent2019[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2018 = pd.read_csv('V:\\2018.csv')
rent2018.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10', 'hu10', 'county', 'name']
rent2018 = rent2018[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2017 = pd.read_csv('V:\\2017.csv')
rent2017.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10']
rent2017 = rent2017[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2016 = pd.read_csv('V:\\2016.csv')
rent2016.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10']
rent2016 = rent2016[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2015 = pd.read_csv('V:\\2015.csv')
rent2015.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10']
rent2015 = rent2015[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2014 = pd.read_csv('V:\\2014.csv')
rent2014.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10']
rent2014 = rent2014[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2013 = pd.read_csv('V:\\2013.csv')
rent2013.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10']
rent2013 = rent2013[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2012 = pd.read_csv('V:\\2012.csv')
rent2012.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10']
rent2012 = rent2012[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2011 = pd.read_csv('V:\\2011.csv')
rent2011.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop10']
rent2011 = rent2011[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2010 = pd.read_csv('V:\\2010.csv')
rent2010.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop2000']
rent2010 = rent2010[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2009 = pd.read_csv('V:\\2009.csv')
rent2009.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop2000']
rent2009 = rent2009[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2008 = pd.read_csv('V:\\2008.csv')
rent2008.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop2000']
rent2008 = rent2008[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2007 = pd.read_csv('V:\\2007.csv')
rent2007.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop2000']
rent2007 = rent2007[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2006 = pd.read_csv('V:\\2006.csv')
rent2006.columns = [
    'index', 'id', 'area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'state', 'pop2000']
rent2006 = rent2006[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2005 = pd.read_csv('V:\\2005.csv')
rent2005.columns = [
    'index', 'FMR_Area', 'rent0', 'rent1', 'rent2', 'rent3', 
    'rent4', 'area', 'MSA', 'state', 'pop2000']
rent2005 = rent2005[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2004 = pd.read_csv('V:\\2004.csv')
rent2004.columns = [
    'id', 'MSA', 'index', 'state', 'county_num', 'MSA_name', 'state_long', 
    'rent0', 'rent1', 'rent2', 'rent3', 'rent4', 'FMR_type', 'pop2000']
rent2004 = rent2004[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2003 = pd.read_csv('V:\\2003.csv')
rent2003.columns = [
    'FMR_Area', 'MSA', 'index', 'state', 'county_num', 'MSA_name', 'county', 'state_long', 
    'rent0', 'rent1', 'rent2', 'rent3', 'rent4', 'FMR_type', 'pop2000']
rent2003 = rent2003[['state', 'rent0', 'rent1', 'rent2', 'rent3', 'rent4']]

rent2021['year'] = 2021
rent2020['year'] = 2020
rent2019['year'] = 2019
rent2018['year'] = 2018
rent2017['year'] = 2017
rent2016['year'] = 2016
rent2015['year'] = 2015
rent2014['year'] = 2014
rent2013['year'] = 2013
rent2012['year'] = 2012
rent2011['year'] = 2011
rent2010['year'] = 2010
rent2009['year'] = 2009
rent2008['year'] = 2008
rent2007['year'] = 2007
rent2006['year'] = 2006
rent2005['year'] = 2005
rent2004['year'] = 2004
rent2003['year'] = 2003

rent_combined = rent2021.append(
    rent2020
).append(
    rent2019
).append(
    rent2018
).append(
    rent2017
).append(
    rent2016
).append(
    rent2015
).append(
    rent2014
).append(
    rent2013
).append(
    rent2012
).append(
    rent2011
).append(
    rent2010
).append(
    rent2009
).append(
    rent2008
).append(
    rent2007
).append(
    rent2006
).append(
    rent2005
).append(
    rent2004
).append(
    rent2003
)

In [126]:
rent2015.head()

  state  rent0  rent1  rent2  rent3  rent4  year
0    AL    521    545    716    925    963  2015
1    AL    636    641    867   1194   1465  2015
2    AL    595    712    844   1109   1247  2015
3    AL    430    483    609    815   1079  2015
4    AL    540    551    668    923   1121  2015

In [128]:
rent_combined.tail()

     state  rent0  rent1   rent2   rent3   rent4  year
2675    PR  231.0  285.0   334.0   422.0   467.0  2003
2676    PR  231.0  285.0   334.0   422.0   467.0  2003
2677    PR  231.0  285.0   334.0   422.0   467.0  2003
2678    VI  551.0  668.0   788.0   984.0  1103.0  2003
2679    VI  707.0  857.0  1010.0  1263.0  1413.0  2003

In [114]:
rent2021['state'].unique()

array(['TX', 'PR', 'OH', 'GA', 'OR', 'NY', 'NM', 'LA', 'PA', 'NJ', 'IA',
       'AK', 'MI', 'AL', 'WI', 'NC', 'CA', 'MD', 'ME', 'MA', 'WV', 'WA',
       'MT', 'ND', 'VA', 'IL', 'IN', 'ID', 'NH', 'CO', 'KY', 'CT', 'VT',
       'FL', 'NV', 'WY', 'SC', 'TN', 'MO', 'DE', 'MN', 'OK', 'AR', 'AZ',
       'NE', 'MS', 'HI', 'KS', 'UT', 'RI', 'SD', 'DC', 'AS', 'GU', 'MP',
       'VI'], dtype=object)

In [87]:
print(np.median(rent2021['rent0']))
print(np.average(rent2021['rent0']))

569.0
624.1859838274933