# Zillow Data via Quandl

In [1]:
import os
import sys
import quandl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from uszipcode import SearchEngine

# sys.path.append('C:Users/Rob/repos/labspt15-cityspire-g-ds')
# sys.path

# path = r'C:\Users\Rob\repos\\'
# path == r'V:\\'

In [2]:
# quandl.ApiConfig.api_key = 'rfzykh-NDsw72dmc4Ms4'

In [3]:
# data = quandl.get_table('MER/F1', compnumber="39102", paginate=True)

In [4]:
# quandl.ApiConfig.api_key = 'rfzykh-NDsw72dmc4Ms4'
# quandl.get_table('ZILLOW/DATA', indicator_id='ZSFH', region_id='99999')

## Data

In [5]:
data = pd.read_csv("V:\ZILLOW_DATA.csv")
data.head()

  indicator_id  region_id        date     value
0         ZATT       3101  1998-01-31  338849.0
1         ZATT       3101  1998-02-28  342993.0
2         ZATT       3101  1998-03-31  346763.0
3         ZATT       3101  1998-04-30  349356.0
4         ZATT       3101  1998-05-31  351981.0

In [6]:
len(data) #125.5 million lines!!

125528409

In [7]:
data['indicator_id'].unique()

array(['ZATT', 'ZSFH', 'ZALL', 'ZCON', 'ZABT', 'Z5BR', 'Z2BR', 'Z3BR',
       'Z1BR', 'Z4BR', 'ISAW', 'SSAW', 'IRAM', 'CRSM', 'CSSM', 'MSAM',
       'IRAW', 'MRAM', 'SSSW', 'LSSM', 'CSAW', 'ISSM', 'SASW', 'MRAW',
       'LRAM', 'ISSW', 'MSAW', 'LSAM', 'CRAM', 'ISAM', 'IRSM', 'SRSW',
       'LSAW', 'NRAW', 'NSAW', 'CRSW', 'SSAM', 'IRSW', 'NRAM', 'CRAW',
       'LRSM', 'SASM', 'SSSM', 'SAAM', 'LRAW', 'CSAM', 'SRAW', 'CSSW',
       'LRSW', 'SRSM', 'SAAW', 'LSSW', 'SRAM', 'NSAM', 'RSNA', 'RSSA'],
      dtype=object)

In [8]:
rental_data = data[data['indicator_id'].isin(['RSSA', 'RSNA'])]

In [9]:
print(len(rental_data))
print(rental_data.shape)
rental_data.head()

535891
(535891, 4)

        indicator_id  region_id        date   value
1586389         RSNA     102001  2020-06-30  1777.0
1586392         RSNA     394913  2020-06-30  2811.0
1586396         RSNA     753899  2020-06-30  2625.0
1586400         RSNA     394463  2020-06-30  1804.0
1586403         RSNA     394514  2020-06-30  1611.0

In [10]:
print('average rent: ', round(sum(rental_data['value']) / len(rental_data)))

average rent:  1686

## Indicators

In [11]:
indicators = pd.read_csv('V:\ZILLOW_INDICATORS.csv')
indicators.head()

  indicator_id                                          indicator     category
0         ZATT           ZHVI All Homes- Top Tier Time Series ($)  Home values
1         ZSFH           ZHVI Single-Family Homes Time Series ($)  Home values
2         ZALL  ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)  Home values
3         ZCON                   ZHVI Condo/Co-op Time Series ($)  Home values
4         ZABT        ZHVI All Homes- Bottom Tier Time Series ($)  Home values

In [12]:
indicators['indicator_id'].unique()

array(['ZATT', 'ZSFH', 'ZALL', 'ZCON', 'ZABT', 'Z5BR', 'Z2BR', 'Z3BR',
       'Z1BR', 'LSAW', 'NRAW', 'NSAW', 'CRSW', 'SSAM', 'IRSW', 'NRAM',
       'CRAW', 'LRSM', 'SASM', 'SSSM', 'SAAM', 'LRAW', 'CSAM', 'SRAW',
       'CSSW', 'LRSW', 'SRSM', 'SAAW', 'LSSW', 'SRAM', 'NSAM', 'RSNA',
       'RSSA', 'Z4BR', 'ISAW', 'SSAW', 'IRAM', 'CRSM', 'CSSM', 'MSAM',
       'IRAW', 'MRAM', 'SSSW', 'LSSM', 'CSAW', 'ISSM', 'SASW', 'MRAW',
       'LRAM', 'ISSW', 'MSAW', 'LSAM', 'CRAM', 'ISAM', 'IRSM', 'SRSW'],
      dtype=object)

In [13]:
indicators

,indicator_id,indicator,category
0,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
1,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
2,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
3,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values
5,Z5BR,ZHVI 5+ Bedroom Time Series ($),Home values
6,Z2BR,ZHVI 2-Bedroom Time Series ($),Home values
7,Z3BR,ZHVI 3-Bedroom Time Series ($),Home values
8,Z1BR,ZHVI 1-Bedroom Time Series ($),Home values
9,LSAW,"Median List Price (Smooth, All Homes, Weekly V...",Inventory and sales
10,NRAW,"Median Days to Pending (Raw, All Homes, Weekly...",Inventory and sales
11,NSAW,"Median Days to Pending (Smooth, All Homes, Wee...",Inventory and sales
12,CRSW,"Share of Listings With a Price Cut (Raw, SFR O...",Inventory and sales
13,SSAM,"Median Sale Price (Smooth, All Homes, Monthly)",Inventory and sales
14,IRSW,"For-sale Inventory (Raw, SFR only, Weekly View)",Inventory and sales
15,NRAM,"Median Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
16,CRAW,"Share of Listings With a Price Cut (Raw, All H...",Inventory and sales
17,LRSM,"Median List Price (Raw, SFR Only, Monthly)",Inventory and sales
18,SASM,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
19,SSSM,"Median Sale Price (Smooth, SFR only, Monthly)",Inventory and sales
20,SAAM,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
21,LRAW,"Median List Price (Raw, All Homes, Weekly View)",Inventory and sales
22,CSAM,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
23,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",Inventory and sales
24,CSSW,"Share of Listings With a Price Cut (Smooth, SF...",Inventory and sales
25,LRSW,"Median List Price (Raw, SFR Only, Weekly View)",Inventory and sales
26,SRSM,"Median Sale Price (Raw, SFR only, Monthly)",Inventory and sales
27,SAAW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
28,LSSW,"Median List Price (Smooth, SFR Only, Weekly View)",Inventory and sales
29,SRAM,"Median Sale Price (Raw, All Homes, Monthly)",Inventory and sales
30,NSAM,"Median Days to Pending (Smooth, All Homes, Mon...",Inventory and sales
31,RSNA,ZORI (Smoothed): All Homes Plus Multifamily Ti...,Rentals
32,RSSA,"ZORI (Smoothed, Seasonally Adjusted): All Home...",Rentals
33,Z4BR,ZHVI 4-Bedroom Time Series ($),Home values
34,ISAW,"For-Sale Inventory (Smooth, All Homes, Weekly ...",Inventory and sales
35,SSAW,"Median Sale Price (Smooth, All Homes, Weekly V...",Inventory and sales
36,IRAM,"For-Sale Inventory (Raw, All Homes, Monthly)",Inventory and sales
37,CRSM,"Share of Listings With a Price Cut (Raw, SFR O...",Inventory and sales
38,CSSM,"Share of Listings With a Price Cut (Smooth, SF...",Inventory and sales
39,MSAM,"Mean Days to Pending (Smooth, All Homes, Monthly)",Inventory and sales
40,IRAW,"For-Sale Inventory (Raw, All Homes, Weekly View)",Inventory and sales
41,MRAM,"Mean Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
42,SSSW,"Median Sale Price (Smooth, SFR only, Weekly View)",Inventory and sales
43,LSSM,"Median List Price (Smooth, SFR Only, Monthly)",Inventory and sales
44,CSAW,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
45,ISSM,"For-Sale Inventory (Smooth, SFR only, Monthly)",Inventory and sales
46,SASW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
47,MRAW,"Mean Days to Pending (Raw, All Homes, Weekly V...",Inventory and sales
48,LRAM,"Median List Price (Raw, All Homes, Monthly)",Inventory and sales
49,ISSW,"For-Sale Inventory (Smooth, SFR only, Weekly V...",Inventory and sales
50,MSAW,"Mean Days to Pending (Smooth, All Homes, Weekl...",Inventory and sales
51,LSAM,"Median List Price (Smooth, All Homes, Monthly)",Inventory and sales
52,CRAM,"Share of Listings With a Price Cut (Raw, All H...",Inventory and sales
53,ISAM,"For-Sale Inventory (Smooth, All Homes, Monthly)",Inventory and sales
54,IRSM,"For-sale Inventory (Raw, SFR only, Monthly)",Inventory and sales
55,SRSW,"Median Sale Price (Raw, SFR only, Weekly View)",Inventory and sales

In [14]:
indicators['category'].unique()

array(['Home values', 'Inventory and sales', 'Rentals'], dtype=object)

In [15]:
rentals = indicators[indicators['category'] == 'Rentals']
rentals.head()

   indicator_id                                          indicator category
31         RSNA  ZORI (Smoothed): All Homes Plus Multifamily Ti...  Rentals
32         RSSA  ZORI (Smoothed, Seasonally Adjusted): All Home...  Rentals

In [16]:
for item in rentals['indicator_id']:
    print(item)

RSNA
RSSA

## Regions

In [17]:
regions = pd.read_csv('V:\ZILLOW_REGIONS.csv')
regions = regions.sort_values(by=['region_id'])
regions.head(20)

      region_id region_type                    region
1150          3       state                Alaska; AK
453           4       state               Alabama; AL
515           6       state              Arkansas; AR
30            8       state               Arizona; AZ
10            9       state            California; CA
2555         10       state              Colorado; CO
349          11       state           Connecticut; CT
1243         12       state  District of Columbia; DC
1149         13       state              Delaware; DE
11           14       state               Florida; FL
2539         16       state               Georgia; GA
76           18       state                Hawaii; HI
454          19       state                  Iowa; IA
75           20       state                 Idaho; ID
14           21       state              Illinois; IL
2030         22       state               Indiana; IN
65           23       state                Kansas; KS
5855         24       state              Kentucky; KY
52           25       state             Louisiana; LA
88           26       state         Massachusetts; MA

In [18]:
len(regions)

78730

In [19]:
regions['region_type'].unique()

array(['state', 'county', 'city', 'neigh', 'zip', 'metro'], dtype=object)

In [20]:
len(regions['region_type'] == 'metro')

78730

In [21]:
metro = regions[regions['region_type'] == 'metro']
metro[:50]

       region_id region_type                 region
5176      102001       metro          United States
13277     394297       metro       Aberdeen, SD; SD
13668     394298       metro       Aberdeen, WA; WA
1213      394299       metro        Abilene, TX; TX
4449      394300       metro            Ada, OK; OK
3469      394302       metro         Adrian, MI; MI
1237      394304       metro              Akron, OH
5831      394305       metro     Alamogordo, NM; NM
2423      394306       metro         Albany, GA; GA
2899      394307       metro         Albany, OR; OR
595       394308       metro             Albany, NY
3822      394309       metro      Albemarle, NC; NC
4733      394310       metro     Albert Lea, MN; MN
4193      394311       metro    Albertville, AL; AL
571       394312       metro        Albuquerque, NM
6304      394314       metro     Alexandria, LA; LA
7409      394315       metro     Alexandria, MN; MN
15618     394316       metro          Alice, TX; TX
27753     394318       metro          Allentown, PA
6538      394319       metro           Alma, MI; MI
4739      394320       metro         Alpena, MI; MI
2619      394321       metro        Altoona, PA; PA
8366      394322       metro          Altus, OK; OK
1917      394323       metro       Amarillo, TX; TX
17871     394324       metro       Americus, GA; GA
8132      394325       metro           Ames, IA; IA
9409      394326       metro      Amsterdam, NY; NY
1124      394327       metro      Anchorage, AK; AK
26329     394330       metro        Andrews, TX; TX
7742      394331       metro         Angola, IN; IN
1619      394332       metro      Ann Arbor, MI; MI
2839      394333       metro       Anniston, AL; AL
584       394334       metro       Appleton, WI; WI
7490      394335       metro        Arcadia, FL; FL
31251     394336       metro        Ardmore, OK; OK
4886      394337       metro    Arkadelphia, AR; AR
581       394338       metro      Asheville, NC; NC
30241     394339       metro        Ashland, OH; OH
3243      394340       metro      Ashtabula, OH; OH
7201      394341       metro        Astoria, OR; OR
10888     394342       metro       Atchison, KS; KS
5810      394343       metro         Athens, OH; OH
30464     394344       metro         Athens, TN; TN
11524     394345       metro         Athens, TX; TX
1199      394346       metro         Athens, GA; GA
99        394347       metro            Atlanta, GA
1875      394348       metro  Atlantic City, NJ; NJ
13911     394349       metro         Auburn, IN; IN
3482      394350       metro         Auburn, NY; NY
2278      394351       metro         Auburn, AL; AL

# Data.World Population Data Set

In [22]:
population = pd.read_excel('https://query.data.world/s/gewikohoj4s2gqv4bowlzpdxeu4jzl', usecols=['State', 'City', 'Population'])
population.head()

     State            City  Population
0  Alabama        Abernant        7599
1  Alabama       Alabaster       31545
2  Alabama     Albertville       21458
3  Alabama  Alexander City       14849
4  Alabama       Andalusia        9081

In [23]:
len(population)

6889

In [24]:
population['City']

0             Abernant
1            Alabaster
2          Albertville
3       Alexander City
4            Andalusia
             ...
6884            Lander
6885        Torrington
6886           Douglas
6887            Powell
6888    Bridger Valley
Name: City, Length: 6889, dtype: object

In [25]:
cities = population[population['Population'] > 80000]
len(cities)

500

In [26]:
len(cities['State'].unique())

47

In [27]:
cities['State'].unique()

array(['Alabama', 'Alaska', 'Arkansas', 'Arizona', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'DC', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Virginia', 'Washington',
       'Wisconsin'], dtype=object)

In [28]:
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 
'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 
'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 
'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 
'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire','New Jersey', 
'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 
'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 
'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
'West Virginia', 'Wisconsin', 'Wyoming']

In [29]:
missing = []

for state in states:
    if state not in list(cities['State'].unique()):
        missing.append(state)

print(missing)

['Maine', 'Vermont', 'West Virginia', 'Wyoming']

# Aggregating Data

In [30]:
# Checking if data has all the same sections
sorted(data['indicator_id'].unique()) == sorted(indicators['indicator_id'].unique())

True

In [31]:
rental_data = rental_data.sort_values(by=['region_id'])
rental_data = rental_data[rental_data['indicator_id'].isin(['RSSA', 'RSNA'])]
print(rental_data.shape)
rental_data.head()

(535891, 4)

        indicator_id  region_id        date   value
7851413         RSNA      58362  2020-09-30  1321.0
8747089         RSNA      58362  2020-05-31  1243.0
8747088         RSNA      58362  2020-06-30  1220.0
8747082         RSNA      58362  2020-07-31  1351.0
8753596         RSSA      58362  2020-07-31  1296.0

         indicator_id  region_id        date   value
7851413          RSNA      58362  2020-09-30  1321.0
8753679          RSSA      58362  2020-06-30  1251.0
8747088          RSNA      58362  2020-06-30  1220.0
8747082          RSNA      58362  2020-07-31  1351.0
8747089          RSNA      58362  2020-05-31  1243.0
...               ...        ...         ...     ...
51008783         RSSA     753924  2019-10-31  2105.0
1610766          RSSA     753924  2020-04-30  2093.0
51008768         RSSA     753924  2018-07-31  2057.0
51008757         RSSA     753924  2017-08-31  2029.0
51008753         RSSA     753924  2017-04-30  2023.0

[535891 rows x 4 columns]

In [32]:
rent_per_region = pd.merge(rental_data, regions, on='region_id')
rent_per_region.head()

,indicator_id,region_id,date,value,region_type,region
0,RSNA,58362,2020-09-30,1321.0,zip,01432; MA; Boston-Cambridge-Newton; Middlesex ...
1,RSNA,58362,2020-05-31,1243.0,zip,01432; MA; Boston-Cambridge-Newton; Middlesex ...
2,RSNA,58362,2020-06-30,1220.0,zip,01432; MA; Boston-Cambridge-Newton; Middlesex ...
3,RSNA,58362,2020-07-31,1351.0,zip,01432; MA; Boston-Cambridge-Newton; Middlesex ...
4,RSSA,58362,2020-07-31,1296.0,zip,01432; MA; Boston-Cambridge-Newton; Middlesex ...

In [33]:
len(rent_per_region['region'].unique())

4031

In [34]:
rent_per_region[[
    'zip', 'state', 'city', 'county', 'neighborhood'
    ]] = rent_per_region['region'].str.split(';', expand=True)

In [35]:
test = rent_per_region[::-1]
test = test[:100]
test.head(20)

,indicator_id,region_id,date,value,region_type,region,zip,state,city,county,neighborhood
535890,RSSA,753924,2017-04-30,2023.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535889,RSSA,753924,2019-12-31,2107.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535888,RSSA,753924,2020-03-31,2092.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535887,RSSA,753924,2020-04-30,2093.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535886,RSSA,753924,2019-10-31,2105.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535885,RSSA,753924,2019-09-30,2102.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535884,RSSA,753924,2019-08-31,2100.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535883,RSSA,753924,2019-07-31,2098.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535882,RSSA,753924,2019-06-30,2095.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535881,RSSA,753924,2019-05-31,2092.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535880,RSSA,753924,2020-05-31,2094.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535879,RSSA,753924,2019-04-30,2088.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535878,RSSA,753924,2019-03-31,2085.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535877,RSSA,753924,2019-02-28,2082.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535876,RSSA,753924,2019-01-31,2079.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535875,RSSA,753924,2018-12-31,2075.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535874,RSSA,753924,2018-11-30,2072.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535873,RSSA,753924,2018-10-31,2068.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535872,RSSA,753924,2018-09-30,2065.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None
535871,RSNA,753924,2019-04-30,2139.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",None,None,None,None

In [36]:
test[['city', 'state']] = test['region'].str.split(',', expand=True)
test.head()

,indicator_id,region_id,date,value,region_type,region,zip,state,city,county,neighborhood
535890,RSSA,753924,2017-04-30,2023.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",HI,Urban Honolulu,None,None
535889,RSSA,753924,2019-12-31,2107.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",HI,Urban Honolulu,None,None
535888,RSSA,753924,2020-03-31,2092.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",HI,Urban Honolulu,None,None
535887,RSSA,753924,2020-04-30,2093.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",HI,Urban Honolulu,None,None
535886,RSSA,753924,2019-10-31,2105.0,metro,"Urban Honolulu, HI","Urban Honolulu, HI",HI,Urban Honolulu,None,None

In [37]:
rent_per_region[['city', 'state']] = rent_per_region['region'].str.split(',', expand=True)

In [38]:
len(rent_per_region['state'].unique())

42

In [39]:
rent_per_region.isna().sum()

indicator_id         0
region_id            0
date                 0
value                0
region_type          0
region               0
zip                  0
state           517923
city                 0
county          380909
neighborhood    393657
dtype: int64

In [40]:
rent_per_region.shape

(535891, 11)

In [41]:
len(rent_per_region['city'].unique())

4031

In [42]:
rent_per_region = rent_per_region[rent_per_region['zip'].str.contains(r"^\d+$")]

In [43]:
rent_per_region.tail()

,indicator_id,region_id,date,value,region_type,region,zip,state,city,county,neighborhood
535370,RSNA,753844,2014-09-30,989.0,zip,29486,29486,None,29486,None,None
535371,RSNA,753844,2014-08-31,1020.0,zip,29486,29486,None,29486,None,None
535372,RSSA,753844,2014-08-31,997.0,zip,29486,29486,None,29486,None,None
535373,RSNA,753844,2014-12-31,1049.0,zip,29486,29486,None,29486,None,None
535374,RSNA,753844,2015-08-31,1093.0,zip,29486,29486,None,29486,None,None

In [44]:
rent_per_region[rent_per_region['city'].str.contains(r"^\d+$")]

,indicator_id,region_id,date,value,region_type,region,zip,state,city,county,neighborhood
756,RSNA,58449,2020-07-31,1635.0,zip,01610,01610,None,01610,None,None
757,RSNA,58449,2015-08-31,1049.0,zip,01610,01610,None,01610,None,None
758,RSSA,58449,2020-03-31,1338.0,zip,01610,01610,None,01610,None,None
759,RSSA,58449,2020-10-31,1370.0,zip,01610,01610,None,01610,None,None
760,RSNA,58449,2018-10-31,1365.0,zip,01610,01610,None,01610,None,None
...,...,...,...,...,...,...,...,...,...,...,...
535370,RSNA,753844,2014-09-30,989.0,zip,29486,29486,None,29486,None,None
535371,RSNA,753844,2014-08-31,1020.0,zip,29486,29486,None,29486,None,None
535372,RSSA,753844,2014-08-31,997.0,zip,29486,29486,None,29486,None,None
535373,RSNA,753844,2014-12-31,1049.0,zip,29486,29486,None,29486,None,None
535374,RSNA,753844,2015-08-31,1093.0,zip,29486,29486,None,29486,None,None

# USZIPCODE library data

In [45]:
from uszipcode import SearchEngine

In [46]:
search = SearchEngine(simple_zipcode=False) # set simple_zipcode=False to use rich info database

In [47]:
zipcode = search.by_zipcode("94102")
zipcode = zipcode.to_dict()

In [48]:
filter_keys = [
    
'housing_units',me    'dian_home_value
m',ed    'ian_household_income
ho',oc    'cupied_home_values
rental_',pr    'operties_by_number_of_rooms,   'mont'hly_rent_including_utilities_studio_apt'],
    'monthly_rent_including_utilities_s1_b,
    'monthly_rent_including_utilities_1_2',
    'monthly_rent_including_utilities_1_b3plus
    

res = p[
 
 pc# ode[keyf'{key}: {] for key in}' filter_keys]
res
res = [f'{key}:key]}' for k in filter_keys]

SyntaxError: EOL while scanning string literal (Temp/ipykernel_17968/1872400862.py, line 3)

In [151]:
for item in res:
    print(item)

18758
16844
574100
22517
[{'key': 'Data', 'values': [{'x': 'In Occupied Housing Units', 'y': 27732}, {'x': 'Correctional Facility For Adults', 'y': 199}, {'x': 'Juvenile Facilities', 'y': 33}, {'x': 'Nursing Facilities', 'y': 0}, {'x': 'Other Institutional', 'y': 0}, {'x': 'College Student Housing', 'y': 565}, {'x': 'Military Quarters', 'y': 0}, {'x': 'Other Noninstitutional', 'y': 2647}]}]
[{'key': 'Data', 'values': [{'x': '1939 Or Earlier', 'y': 11155}, {'x': '1940s', 'y': 968}, {'x': '1950s', 'y': 732}, {'x': '1960s', 'y': 1093}, {'x': '1970s', 'y': 1155}, {'x': '1980s', 'y': 1160}, {'x': '1990s', 'y': 1070}, {'x': '2000s', 'y': 1360}, {'x': '2010 Or Later', 'y': 20}]}]
[{'key': 'Data', 'values': [{'x': 'Owned Households With A Mortgage', 'y': 967}, {'x': 'Owned Households Free & Clear', 'y': 153}, {'x': 'Renter Occupied Households', 'y': 15724}, {'x': 'Households Vacant', 'y': 1914}]}]
[{'key': 'Data', 'values': [{'x': 'For Rent', 'y': 1196}, {'x': 'Rented & Unoccupied', 'y': 28}, {'x': 'For Sale Only', 'y': 75}, {'x': 'Sold & Unoccupied', 'y': 10}, {'x': 'For Season Recreational Or Occasional Use', 'y': 209}, {'x': 'For Migrant Workers', 'y': 0}, {'x': 'Vacant For Other Reasons', 'y': 396}]}]
[{'key': 'Data', 'values': [{'x': '$1-$24,999', 'y': 27}, {'x': '$25,000-$49,999', 'y': 0}, {'x': '$50,000-$99,999', 'y': 40}, {'x': '$100,000-$149,999', 'y': 67}, {'x': '$150,000-$199,999', 'y': 8}, {'x': '$200,000-$399,999', 'y': 142}, {'x': '$400,000-$749,999', 'y': 670}, {'x': '$750,000+', 'y': 277}]}]
[{'key': 'Data', 'values': [{'x': 'Studio Apartment', 'y': 6928}, {'x': '1 Bedroom', 'y': 4713}, {'x': '2 Bedroom', 'y': 1139}, {'x': '3+ Bedroom', 'y': 1381}]}]
[{'key': 'Data', 'values': [{'x': '< $200', 'y': 293}, {'x': '$200-$299', 'y': 753}, {'x': '$300-$499', 'y': 1309}, {'x': '$500-$749', 'y': 1374}, {'x': '$750-$999', 'y': 1169}, {'x': '$1,000+', 'y': 1875}]}]
[{'key': 'Data', 'values': [{'x': '< $200', 'y': 75}, {'x': '$200-$299', 'y': 508}, {'x': '$300-$499', 'y': 495}, {'x': '$500-$749', 'y': 591}, {'x': '$750-$999', 'y': 677}, {'x': '$1,000+', 'y': 2304}]}]
[{'key': 'Data', 'values': [{'x': '< $200', 'y': 105}, {'x': '$200-$299', 'y': 51}, {'x': '$300-$499', 'y': 59}, {'x': '$500-$749', 'y': 36}, {'x': '$750-$999', 'y': 218}, {'x': '$1,000+', 'y': 633}]}]
[{'key': 'Data', 'values': [{'x': '< $200', 'y': 10}, {'x': '$200-$299', 'y': 87}, {'x': '$300-$499', 'y': 125}, {'x': '$500-$749', 'y': 223}, {'x': '$750-$999', 'y': 260}, {'x': '$1,000+', 'y': 662}]}]

In [84]:
cities = pd.read_csv('V:\cities.csv')
cities

         Cities_List
0          Akron, OH
1         Albany, GA
2         Albany, NY
3         Albany, OR
4    Albuquerque, NM
..               ...
392    Worcester, MA
393      Wyoming, MI
394       Yakima, WA
395    Yuba City, CA
396         Yuma, AZ

[397 rows x 1 columns]